#divToDisplayQuestions {
    margin: 15px;

}
#submitBtn{
    position: relative;
    background-color: aliceblue;
    isolation: isolate;
    overflow: hidden;
    z-index: 0;
}
#nextBtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    z-index: -1;
    width: 0;
    height: 100%;
    transition: width 2s ease-in;
}
#nextBtn:hover::before{
    width: 100%;
}































#btn{
    position: relative;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden;
}
#btn span{
    position: relative;
    z-index: 1;
}
#btn::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: red;
    width: 0;
    height: 100%;
    transition: width 2s ease-in;
    z-index: 0;
}
#btn:hover::before {
    width: 100%;
}